{% extends "rtimer/layout.html" %}
{% load static %}

{% block title %}RubiksTimer{% endblock %}

{% block body %} 
<!-- <div class="scramble">
    <label id="scramble"></label>
</div> -->
<div class="center-wrapper" >
    <div class="container">
        <label id="timer" class="timer">
            <span id="minutes" class="group">00</span><span id="minutesColon">:</span>
            <span id="seconds" class="group">00 </span><span id="secondsColon">.</span>
            <span id="milliseconds" class="group">00</span>
        </label>
        <div id="controls" class="controls">
            <button id="cmdStart" class="cmdStart" onclick="start()" onkeydown="start()"><image class="cmdStartIco" src="{% static 'rtimer/images/startbutton.png' %}"></image></button>
            <button id="cmdStop" class="cmdStop" onclick="stop()"><image class="cmdStopIco" src="{% static 'rtimer/images/stopbutton.png' %}"></image></button>
            <button id="cmdReset" class="cmdReset"  onclick="reset()"><image class="cmdStopIco" src="{% static 'rtimer/images/resetbutton.png' %}"></image></button>
        </div>
    </div>   
</div>
{% endblock %}
