{% load static %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Timer</title>
        <link href="{% static 'rtimer/styles.css' %}" rel="stylesheet">
    </head>
    <body id="body">
        <div class="titlebar">
            <image class="rubik" src="{% static 'rtimer/images/rubikIcon.png' %}"></image>
            <h1 class="heading">Rubiks Timer</h1> 
        </div>
        <div class="center-wrapper" >
            <div class="container">
                <h1 id="display" class="timer">00:00:00</h1>
                <div id="controls" class="controls">
                    <button id="cmdStart" class="cmdStart" onclick="start()" onkeydown="start()">Start</button>
                    <button id="cmdStop" class="cmdStop" onclick="stop()">Stop</button>
                    <button id="cmdReset" class="cmdReset"  onclick="reset()">Reset</button>
                </div>
            </div>   
        </div>
        
        <script src="{% static 'rtimer/js/index.js' %}"></script>
    </body>
</html>

