{% extends "rtimer/layout.html" %}
{% load static %}

{% block title %}RubiksTimer{% endblock %}

{% block body %} 
    <div id="titlebar" class="titlebar">
        <form action="{% url 'index' %}" method="GET">
            {% csrf_token %}
            <button>
                <div class="title-bar-btn">
                    <image class="rubik" src="{% static 'rtimer/images/rubikIcon.png' %}"></image>
                    <h1 class="heading">Rubiks Timer</h1>    
                </div>
            </button>  
        </form>
              
    </div>  
    

    <div class="display">
            <div class="login-form">
                <h2>Login</h2>
                {% if message %}
                    <label>{{ message }}</label>
                {% endif %}

                {% if user.is_authenticated %}
                    <form action="{% url 'login' %}" method="POST">
                        {% csrf_token %}
                        <div>
                            <input autofocus  type="text" name="username" placeholder="Username" value="{{request.user}}" disabled>
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="password" name="password" placeholder="Password" disabled>
                        </div>
                        <input class="btn btn-primary" type="submit" value="Login" disabled>
                    </form> 
                    <div>
                        <label>You are already logged in as {{ request.user }}.</label>  <a href="{% url 'logout' %}">Logout?</a>         
                    </div>
                {% else %}
                    <form action="{% url 'login' %}" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <input autofocus class="form-control" type="text" name="username" placeholder="Username">
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="password" name="password" placeholder="Password">
                        </div>
                        <input class="btn btn-primary" type="submit" value="Login">
                    </form> 
                    <div>
                        <label>Don't have an account?</label>  <a href="{% url 'register' %}">Register here.</a>         
                    </div>
                {% endif %}                   
            </div>
    </div>   

    


{% endblock %}
