body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    background-color: lightblue;
}

.heading {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

.titlebar {
    background-color: #279bc2; 
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.timer {
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
   text-align: center;
   color: #279bc2;
   font-size: 100px;
   
}

.container {
    display: flex;
    flex-direction: column; 
    justify-content: center;  
    align-items: center;      
    background-color: white;
    width: 50%;
    height: 350px;
    border-radius: 0px;
    border-color: #279bc2;
    border-style: none;
    margin: 0 auto;
    gap: 2rem;}
 
.controls {  
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;               
}

.cmdStart {
    border-radius: 30px;
    height: 60px;
    width: 60px;
    margin-right: 1rem;
    border-color: green;
    background-color: lightgreen;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}

.cmdStop {
    border-radius: 30px;
    height: 60px;
    width: 60px;
    margin-right: 1rem;
    border-color: red;
    background-color: lightsalmon;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}

.cmdReset {
    border-radius: 30px;
    height: 60px;
    width: 60px;
    border-color: blue;
    background-color: lightblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}

.center-wrapper {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.rubik {
    height: 50px;
    justify-self: left;
    margin: 10px;
}